<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profileBackground.jpg');">
            <div class="content">
                <div class="avatar" ng-attr-style="background-image: url('{{profile.profileImageUrl}}'); margin-bottom: 0"></div>
                <h3><a class="light">{{profile.name}}</a></h3>
                <h4>{{profile.blurb}}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-bottom static">
            <a ui-sref="app.courses" class="tab-item">
                <i class="icon material-icons">school</i>Courses
            </a>
            <a ui-sref="app.tasks" class="tab-item">
                <i class="icon ion-checkmark-circled"></i>Tasks
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i>Friends
            </a>
        </div>
        <div class="list animate-fade-slide-in-right" style="background-color: #fff">
            <div style="display: inline-flex; width: 100%">
                <ion-md-input placeholder="Image" highlight-color="royal" type="text" ng-model="profile.profileImageUrl"></ion-md-input>
                <button id="fab-profile-image" ng-click="addPhoto();" class="button button-fab expanded button-energized-900 spin" style="top: 21px;margin-right: 10px"><i class="icon ion-camera"></i></button>
            </div>
            <ion-md-input placeholder="Name" highlight-color="royal" type="text" ng-model="profile.name"></ion-md-input>
            <ion-md-input placeholder="Blurb" highlight-color="royal" type="text" ng-model="profile.blurb"></ion-md-input>
            <ion-md-input placeholder="Email" highlight-color="royal" type="text" ng-model="profile.email"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="profile.password"></ion-md-input>
        </div>
    </ion-content>
</ion-view>
